# *** OS stuff ***
## Windows
.~*
~$*

## MacOS
.DS_Store
*alias
*.webloc

# Editors & IDEs
.vscode
.vs
.idea
.spyderproject
.spyproject

# Distribution / packaging
.Python
build/


# Byte-compiled / optimized / DLL files
*.pyc

# Unit test / coverage reports


# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
.virtual_documents/


# Temporary files
examples/temp/

# Specific files

